.button {
  color: var(--button-text);
  font-size: var(--large-text);
  font-weight: var(--cp-ultra);
  letter-spacing: var(--large-tracking);
  background: linear-gradient(var(--button-top), var(--button-bottom));
  box-shadow: 0 0.75rem 1.5rem var(--button-shadow-diffuse),
              0 0.125rem 0.25rem var(--button-shadow-sharp),
              inset 0 0.125rem 0.0625rem var(--button-bevel);
  text-shadow: 0 0.125rem 0.0625rem var(--button-text-shadow);

  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.75rem;
  padding: 0 1.875rem;
  border-radius: 1.875rem;
  backdrop-filter: saturate(180%) blur(20px);
}
