.article-image {
  max-width: 100%;
  height: auto;
  border-radius: var(--soft-corner);
}

.no-rounding {
  border-radius: 0;
}

.hRule {
  width: 200px;
  margin: 0 auto;
  border-color: var(--hr-stroke);
  opacity: var(--hr-opacity);
}
