.overlay {
  /* TODO:
    position: fixed overlays the scrollbar in Chrome and Firefox.
    This could be obnoxious to work around... */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--overlay-bg);
}

.overlay a {
  color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
