.p1 { font-size: var(--large-text);   line-height: var(--large-leading);   letter-spacing: var(--large-tracking);   }
.p2 { font-size: var(--medium-text);  line-height: var(--medium-leading);  letter-spacing: var(--medium-tracking);  }
.p3 { font-size: var(--small-text);   line-height: var(--small-leading);   letter-spacing: var(--small-tracking);   }
.p4 { font-size: var(--xsmall-text);  line-height: var(--xsmall-leading);  letter-spacing: var(--xsmall-tracking);  }
