.hero {
  position: relative;
  top: calc(var(--page-inset) * -1);
  margin: 0;
  height: calc(var(--project-key-art-height) + var(--page-inset) * 2);
  width: var(--max-page-width);
  pointer-events: none;
  overflow: hidden;
}

.expanded.hero {
  top: 0;
}

.bgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  inset: auto 0 10px 0;
  text-align: center;
  color: white;
  text-shadow: 0 4px 16px black;
}
