.skill-variant1 {
  --skill-color: var(--skill-1);
}

.skill-variant2 {
  --skill-color: var(--skill-2);
}

.skill-variant3 {
  --skill-color: var(--skill-3);
}

.skill-variant4 {
  --skill-color: var(--skill-4);
}

.skill-cloud {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  --text-height: var(--xsmall-text);
  --v-padding: 10px;
  --h-padding: 40px;
  --stroke-size: 2px;
  --bubble-height: calc(var(--text-height) + (var(--v-padding) + var(--stroke-size)) * 2);

  background-color: rgba(var(--skill-color), var(--skill-bg-opacity));
  border: var(--stroke-size) solid rgb(var(--skill-color));
  flex-grow: 1;
  text-align: center;

  color: black;
  font-size: var(--text-height);
  font-weight: var(--cp-extra-bold);

  position: relative;
  border-radius: var(--soft-corner);
  padding: var(--v-padding) var(--h-padding);
  cursor: default;
  user-select: none;

  transition-property: background-color, transform;
  transition-duration: 300ms, 200ms;
  transition-timing-function: linear, ease-in-out;
}

.active-skill {
  background-color: rgb(var(--skill-color));
  transform: scale(1.1);
}

.tooltip {
  font-weight: var(--cp-bold);

  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: var(--bubble-height);
  width: min(90vw, 400px);
  padding: 20px;
  border-radius: 20px;

  background-color: rgba(var(--skill-color), var(--skill-bg-opacity));
  border: var(--stroke-size) solid rgb(var(--skill-color));
  backdrop-filter: var(--vivid-sat) var(--hazy-blur);
}

@media (min-height: 800px) {
  .skill {
    --text-height: var(--small-text);
  }
}
