:root {
  /* PALETTE */
  --fog: #fff9;
  --berry-soft: #dff7ff;
  --berry-bold: #0057ff;
  --berry-juice: #070029cc;
  --berry-shadow-sharp: var(--berry-bold);
  --berry-shadow-diffuse: var(--berry-bold);
  --grape-soft: #f5e2ff;
  --grape-bold: #9b00ff;
  --grape-juice: #0c0013cc;
  --grape-shadow-sharp: #9b00ff29;
  --grape-shadow-diffuse: #9b00ff17;
  --dragonfruit: #ff006c;
  --dreamy-day: #90d6ff;
  --bright-day: #e3f5ff;
  --dreamy-night: #2c0026;
  --moonless-night: #160013;

  /* TYPOGRAPHIC METRICS */
  /* px converted to rem in PostCSS */
  --xxlarge-text: 72px;                              --xxlarge-tracking: -0.020em;
  --xlarge-text:  54px;                              --xlarge-tracking:  -0.015em;
  --large-text:   36px;  --large-leading:   1.20em;  --large-tracking:   -0.010em;
  --medium-text:  30px;  --medium-leading:  1.30em;  --medium-tracking:   0.000em;
  --small-text:   24px;  --small-leading:   1.40em;  --small-tracking:    0.000em;
  --xsmall-text:  18px;  --xsmall-leading:  1.45em;  --xsmall-tracking:   0.000em;

  --h1-leading: 1.00em;
  --h2-leading: 1.05em;
  --h3-leading: 1.10em;
  --h4-leading: 1.15em;
  --h5-leading: 1.20em;
  --h6-leading: 1.20em;

  /* FONT WEIGHTS */
  /* Codec Pro has some weird weight definitions */
  --cp-thin:        38.0;
  --cp-extra-light: 77.0;
  --cp-light:       118.0;
  --cp-news:        157.0;
  --cp-regular:     177.0;
  --cp-bold:        249.0;
  --cp-extra-bold:  317.0;
  --cp-heavy:       377.0;
  --cp-ultra:       484.0;
  --cp-ultra-black: 593.0;
  --cp-fat:         682.0;

  /* Z-INDEXES */
  --placeholder-layer: 0;
  --dreamscape-layer:  1;
  --page-layer:        2;
  --overlay-layer:     3;
  --lightbox-layer:    4;

  /* SIZE UNITS */
  --max-page-content-width: 1280px;
  --gap: 40px;
  --gap-l: 60px;
  --page-inset: clamp(10px, 3vw, var(--gap));
  --max-page-width: calc(var(--max-page-content-width) + var(--page-inset) * 2);
  --project-key-art-height: 420px;
}

/* WIDE-GAMUT PALETTE */
@supports (color: color(display-p3 1 1 1 / 1)) {
  :root {
    --berry-soft: color(display-p3 0.8901960784 0.9647058824 1);
    --berry-bold: color(display-p3 0 0.3333333333 1);
    --berry-juice: color(display-p3 0.024 0 0.155 / 0.8);
    --grape-soft: color(display-p3 0.9490196078 0.8901960784 1);
    --grape-bold: color(display-p3 0.5529411765 0 1);
    --grape-juice: color(display-p3 0.039 0 0.07 / 0.8);
    --grape-shadow-sharp: color(display-p3 0.5529411765 0 1 / 0.16);
    --grape-shadow-diffuse: color(display-p3 0.5529411765 0 1 / 0.09);
    --dragonfruit: color(display-p3 1 0 0.431372549);
  }
}



/* LIGHT MODE */
:root {
  --base-text: black;
  --dreamscape-bg: var(--dreamy-day);
  --emphatic: var(--dragonfruit);

  --button-text: var(--grape-bold);
  --button-text-shadow: white;
  --button-bevel: white;
  --button-top: var(--fog);
  --button-bottom: var(--grape-soft);
  --button-shadow-sharp: var(--grape-shadow-sharp);
  --button-shadow-diffuse: var(--grape-shadow-diffuse);

  --overlay-bg: var(--berry-juice);
  --modal-bg: var(--bright-day);
  --lightbox-shadow: var(--overlay-bg);
}

/* LIGHT MODE, HIGH CONTRAST */
@media (prefers-contrast: more) {
  :root {
    --dreamscape-bg: var(--bright-day);
    --modal-bg: white;
  }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --base-text: white;
    --dreamscape-bg: var(--dreamy-night);

    --button-text: white;
    --button-text-shadow: var(--grape-shadow-sharp);
    --button-bevel: white;
    --button-top: var(--grape-bold);
    --button-bottom: var(--grape-bold);
    --button-shadow-sharp: var(--grape-shadow-sharp);
    --button-shadow-diffuse: var(--grape-shadow-diffuse);

    --overlay-bg: var(--grape-juice);
    --modal-bg: var(--moonless-night);
  }
}

/* DARK MODE, HIGH CONTRAST */
@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
  :root {
    --dreamscape-bg: var(--moonless-night);
    --modal-bg: black;
  }
}

/* MOBILE SIZE TWEAKS */
@media (max-width: 640px) {
  :root {
    --xxlarge-text: 52px;
    --xlarge-text:  40px;
    --large-text:   28px;
    --medium-text:  24px;
    --small-text:   20px;
    --xsmall-text:  16px;

    --project-key-art-height: 320px;
  }
}
