.bokeh-placeholder, .bokeh-renderer-container {
  z-index: var(--bokeh-layer);
  background: var(--bokeh-bg);

  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.content {
  z-index: var(--page-layer);
}

.header {

}

.main {
}

.footer {
}

@media (max-width: 600px) {
  .content {
  }
}
