.bokeh-placeholder, .bokeh-renderer-container {
  z-index: var(--bokeh-layer);
  background: var(--bokeh-bg);

  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.page {
  z-index: var(--page-layer);

  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1440px;
  padding: 0 clamp(10px, 3vw, 40px);
}

.section.hello {
  min-height: 80vh;
}

.section.hello p {
  font-weight: var(--cp-bold);
}

.projects {
  grid-auto-flow: dense;
}

.projects div {
  background: pink;
}

.portrait {
  position: relative;
  overflow: hidden;
  background-color: black;
  border-radius: clamp(36px, 5vw, 60px);
  aspect-ratio: 5 / 6;
  margin: 0;
}

.header {

}

.main {
}

.footer {
}

@media (max-width: 640px) {
  .portrait {
    aspect-ratio: 4 / 3;
  }

  .content {
  }
}
