.dreamscape {
  margin: 0;
  background: var(--dreamscape-bg);
}

.dreamscape, .dreamscape-fader, .placeholder, .renderer-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.placeholder {
  z-index: var(--placeholder-layer);
}

.fallback {
  max-width: unset;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  border-radius: 0px;
}

.renderer-container {
  z-index: var(--dreamscape-layer);
}

.page {
  z-index: var(--page-layer);

  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: hidden; /* HACK: Stops skills cloud from overflowing */
}

.content {
  max-width: var(--max-page-width);
  padding: 0 var(--page-inset);
}

.content main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
}

.section.hello {
  min-height: 90vh;
  padding-top: clamp(10px, 5vh, var(--gap-l));
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.section.hello p {
  font-weight: var(--cp-bold);
}

.section.skills, .section.about {
  padding: max(10vh, var(--gap-l)) 0;
}

.insignia.top {
  flex-shrink: 0;
  display: flex;
}

.insignia-clip {
  width: 50px;
  height: 76px;
  clip-path: url(#insignia);
  backdrop-filter: brightness(0.75) var(--intense-sat) var(--fuzzy-blur);
}

.intro-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.lets-do-this {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-bottom: var(--gap-l);
}

.hero-grid em, .lets-do-this em {
  color: var(--emphatic);
  font-style: normal;
}

.hero-grid, .lets-do-this-grid {
  width: 100%;
}

.other-links {
  display: flex;
  gap: var(--gap-s);
}


.inline-button {
  display: inline-block;
}

.intro {
  /* Compensate for grid gap */
  margin-bottom: calc(var(--gap-l) - var(--gap));
}

.projects {
  grid-auto-flow: dense;
}

.skills {
  display: flex;
  align-items: center;
}

.about {
  display: flex;
  align-items: center;
}
.about-content {
  --gap: var(--gap-s);
}

.portrait {
  position: relative;
  overflow: hidden;
  background-color: black;
  border-radius: var(--soft-corner);
  aspect-ratio: 5 / 6;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  .insignia-clip {
    backdrop-filter: brightness(1.5) var(--intense-sat) var(--fuzzy-blur);
  }
}

@supports not (backdrop-filter: saturate(5) blur(20px)) {
  .insignia-clip {
    background: rgba(0, 0, 0, 0.4);
  }
}

@media (prefers-contrast: more) {
  .insignia-clip {
    background: var(--base-text);
  }
}

@media (max-width: 1000px) {
  .portrait {
    aspect-ratio: 4 / 3;
  }

  .insignia.top {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .other-links {
    flex-direction: column;
    gap: var(--gap-s);
  }
}
