.dreamscape {
  margin: 0;
}

.dreamscape, .placeholder, .renderer-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.placeholder {
  z-index: var(--placeholder-layer);
  background: var(--dreamscape-bg);
}

.renderer-container {
  z-index: var(--dreamscape-layer);
}

.page {
  z-index: var(--page-layer);

  position: relative;
  display: flex;
  justify-content: center;
}

.content {
  max-width: var(--max-page-width);
  padding: 0 var(--page-inset);
}

.section {
  min-height: 90vh;
}

.section.hello {
  padding-top: clamp(10px, 5vh, var(--gap-l));
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.section.hello p {
  font-weight: var(--cp-bold);
}

.insignia.top {
  flex-shrink: 0;
  display: flex;
}

.insignia-clip {
  width: 50px;
  height: 76px;
  clip-path: url(#insignia);
  backdrop-filter: var(--intense-sat) var(--fuzzy-blur);
}

.intro-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-grid {
  width: 100%;
}

.i-made-this {
  display: flex;
  align-items: baseline;
  gap: calc(var(--gap) / 4);
}

.inline-button {
  display: inline-block;
}

.intro {
  /* Compensate for grid gap */
  margin-bottom: calc(var(--gap-l) - var(--gap));
}

.projects {
  grid-auto-flow: dense;
}

.portrait {
  position: relative;
  overflow: hidden;
  background-color: black;
  border-radius: clamp(36px, 5vw, 60px);
  aspect-ratio: 5 / 6;
  margin: 0;
}

.header {

}

.main {
}

.footer {
}

@supports not (backdrop-filter: saturate(5) blur(20px)) {
  .insignia-clip {
    background: rgba(0, 0, 0, 0.4);
  }
}

@media (prefers-contrast: more) {
  .insignia-clip {
    background: var(--base-text);
  }
}

@media (max-width: 640px) {
  .portrait {
    aspect-ratio: 4 / 3;
  }

  .insignia.top {
    justify-content: center;
  }
}
