.project-slot {
  position: relative;
  display: block;
  width: 100%;
  height: var(--project-key-art-height);
  padding: 0;
}

.scrollable {
  width: 100%;
  height: 100%;
}

/* Safari's animation performance plunges when this is visible :-( */
.scrollable:focus {
  outline: none;
}

.card {
  position: relative; /* for z-index updates */
  width: 100%;
  height: 100%;
  background: var(--dreamscape-bg);
  overflow: hidden;
}

.card-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expand-link {
  color: transparent;
  position: absolute;
  inset: 0;
}

.compute-border-radius {
  border-radius: var(--soft-corner);
  display: none;
}

.project-open .scrollable {
  width: initial;
  height: initial;
  position: fixed;
  inset: 0;
  padding: var(--page-inset);
  overflow-y: auto;
  z-index: var(--overlay-layer);
}

.project-open .card {
  position: relative;
  margin: 0 auto;
  max-width: var(--max-page-width);
  min-height: 100%;
  height: initial;
}

.project-renderer {
  width: 100%;
  padding: var(--page-inset) var(--page-inset) calc(var(--page-inset) * 2);
}
